<div class="mega-menu">
  mega menu 
</div>


{% schema %}
{
  "name": "Mega Menu",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Default Heading"
    }
  ],
  "blocks": [
   
  ],
  "presets": [
    {
      "name": "Mega menu",
      "category": "Category"
    }
  ]
}
{% endschema %}