
:root {
   --font-body: {{ settings.font_body | default: '"Inter", sans-serif' | font_face }};
    --font-heading: {{ settings.font_heading | default: '"Inter", sans-serif' | font_face }}
  --background-1: #111a37;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
    font-family: var(--font-body) !important;
}


body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}